@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-tzeyzf');
  src:url('../fonts/icomoon.eot?#iefix-tzeyzf') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-tzeyzf') format('woff'),
    url('../fonts/icomoon.ttf?-tzeyzf') format('truetype'),
    url('../fonts/icomoon.svg?-tzeyzf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save-as:before {
  content: "\e6df";
}

.icon-001:before {
  content: "\e6d5";
}
.icon-002:before {
  content: "\e6d6";
}
.icon-003:before {
  content: "\e6d7";
}
.icon-004:before {
  content: "\e6d8";
}
.icon-005:before {
  content: "\e6d9";
}
.icon-006:before {
  content: "\e6da";
}
.icon-007:before {
  content: "\e6db";
}
.icon-008:before {
  content: "\e6dc";
}
.icon-009:before {
  content: "\e6dd";
}
.icon-010:before {
  content: "\e6de";
}
.icon-account-box:before {
  content: "\e6c1";
}
.icon-android:before {
  content: "\e600";
}
.icon-announcement:before {
  content: "\e601";
}
.icon-aspect-ratio:before {
  content: "\e602";
}
.icon-assessment:before {
  content: "\e603";
}
.icon-assignment:before {
  content: "\e604";
}
.icon-autorenew:before {
  content: "\e605";
}
.icon-backup:before {
  content: "\e606";
}
.icon-bug-report:before {
  content: "\e607";
}
.icon-cached:before {
  content: "\e608";
}
.icon-delete:before {
  content: "\e609";
}
.icon-description:before {
  content: "\e60a";
}
.icon-done:before {
  content: "\e60b";
}
.icon-done-all:before {
  content: "\e60c";
}
.icon-explore:before {
  content: "\e60d";
}
.icon-extension:before {
  content: "\e60e";
}
.icon-favorite:before {
  content: "\e60f";
}
.icon-favorite-outline:before {
  content: "\e610";
}
.icon-find-in-page:before {
  content: "\e611";
}
.icon-get-app:before {
  content: "\e612";
}
.icon-grade:before {
  content: "\e613";
}
.icon-group-work:before {
  content: "\e614";
}
.icon-help:before {
  content: "\e6c2";
}
.icon-highlight-remove:before {
  content: "\e6c3";
}
.icon-home:before {
  content: "\e615";
}
.icon-language:before {
  content: "\e616";
}
.icon-list:before {
  content: "\e617";
}
.icon-note-add:before {
  content: "\e618";
}
.icon-open-in-browser:before {
  content: "\e619";
}
.icon-pageview:before {
  content: "\e61a";
}
.icon-room:before {
  content: "\e61b";
}
.icon-settings:before {
  content: "\e61c";
}
.icon-settings-applications:before {
  content: "\e61d";
}
.icon-settings-ethernet:before {
  content: "\e61e";
}
.icon-settings-input-hdmi:before {
  content: "\e61f";
}
.icon-settings-input-svideo:before {
  content: "\e620";
}
.icon-spellcheck:before {
  content: "\e621";
}
.icon-star-rate:before {
  content: "\e622";
}
.icon-stars:before {
  content: "\e623";
}
.icon-subject:before {
  content: "\e624";
}
.icon-swap-horiz:before {
  content: "\e625";
}
.icon-swap-vert:before {
  content: "\e626";
}
.icon-thumb-down:before {
  content: "\e627";
}
.icon-thumb-up:before {
  content: "\e628";
}
.icon-translate:before {
  content: "\e629";
}
.icon-view-array:before {
  content: "\e62a";
}
.icon-view-carousel:before {
  content: "\e62b";
}
.icon-view-column:before {
  content: "\e62c";
}
.icon-view-day:before {
  content: "\e62d";
}
.icon-view-headline:before {
  content: "\e62e";
}
.icon-view-list:before {
  content: "\e62f";
}
.icon-view-module:before {
  content: "\e630";
}
.icon-view-quilt:before {
  content: "\e631";
}
.icon-view-stream:before {
  content: "\e632";
}
.icon-view-week:before {
  content: "\e633";
}
.icon-visibility:before {
  content: "\e634";
}
.icon-visibility-off:before {
  content: "\e635";
}
.icon-error:before {
  content: "\e636";
}
.icon-warning:before {
  content: "\e637";
}
.icon-album:before {
  content: "\e638";
}
.icon-equalizer:before {
  content: "\e639";
}
.icon-fast-forward:before {
  content: "\e63a";
}
.icon-fast-rewind:before {
  content: "\e63b";
}
.icon-movie:before {
  content: "\e6c4";
}
.icon-my-library-add:before {
  content: "\e6c5";
}
.icon-my-library-books:before {
  content: "\e6c6";
}
.icon-my-library-mus:before {
  content: "\e6c7";
}
.icon-pause:before {
  content: "\e63c";
}
.icon-pause-circle-fill:before {
  content: "\e63d";
}
.icon-pause-circle-outline:before {
  content: "\e63e";
}
.icon-play-arrow:before {
  content: "\e63f";
}
.icon-play-circle-fill:before {
  content: "\e640";
}
.icon-play-circle-outline:before {
  content: "\e641";
}
.icon-skip-next:before {
  content: "\e642";
}
.icon-skip-previous:before {
  content: "\e643";
}
.icon-subtitles:before {
  content: "\e644";
}
.icon-surround-sound:before {
  content: "\e6c8";
}
.icon-video-collection:before {
  content: "\e645";
}
.icon-videocam:before {
  content: "\e646";
}
.icon-volume-down:before {
  content: "\e647";
}
.icon-volume-mute:before {
  content: "\e648";
}
.icon-volume-off:before {
  content: "\e649";
}
.icon-volume-up:before {
  content: "\e64a";
}
.icon-chat:before {
  content: "\e64b";
}
.icon-clear-all:before {
  content: "\e64c";
}
.icon-comment:before {
  content: "\e64d";
}
.icon-textsms:before {
  content: "\e64e";
}
.icon-add:before {
  content: "\e64f";
}
.icon-add-box:before {
  content: "\e650";
}
.icon-add-circle:before {
  content: "\e651";
}
.icon-add-circle-outline:before {
  content: "\e652";
}
.icon-archive:before {
  content: "\e653";
}
.icon-content-copy:before {
  content: "\e654";
}
.icon-content-cut:before {
  content: "\e655";
}
.icon-content-paste:before {
  content: "\e656";
}
.icon-create:before {
  content: "\e657";
}
.icon-gesture:before {
  content: "\e658";
}
.icon-inbox:before {
  content: "\e659";
}
.icon-save:before {
  content: "\e6c0";
}
.icon-send:before {
  content: "\e65a";
}
.icon-text-format:before {
  content: "\e65b";
}
.icon-devices:before {
  content: "\e65c";
}
.icon-dvr:before {
  content: "\e65d";
}
.icon-multitrack-audio:before {
  content: "\e6c9";
}
.icon-now-wallpaper:before {
  content: "\e65e";
}
.icon-storage:before {
  content: "\e65f";
}
.icon-attach-file:before {
  content: "\e660";
}
.icon-format-align-center:before {
  content: "\e661";
}
.icon-format-align-justify:before {
  content: "\e662";
}
.icon-format-align-left:before {
  content: "\e663";
}
.icon-format-bold:before {
  content: "\e664";
}
.icon-format-clear:before {
  content: "\e665";
}
.icon-format-color-fill:before {
  content: "\e666";
}
.icon-format-color-reset:before {
  content: "\e667";
}
.icon-format-color-text:before {
  content: "\e668";
}
.icon-format-indent-increase:before {
  content: "\e669";
}
.icon-format-paint:before {
  content: "\e66a";
}
.icon-format-quote:before {
  content: "\e66b";
}
.icon-format-size:before {
  content: "\e66c";
}
.icon-insert-chart:before {
  content: "\e66d";
}
.icon-insert-comment:before {
  content: "\e66e";
}
.icon-insert-drive-file:before {
  content: "\e66f";
}
.icon-insert-emoticon:before {
  content: "\e670";
}
.icon-insert-photo:before {
  content: "\e671";
}
.icon-mode-comment:before {
  content: "\e672";
}
.icon-mode-edit:before {
  content: "\e6ca";
}
.icon-cloud:before {
  content: "\e673";
}
.icon-cloud-circle:before {
  content: "\e674";
}
.icon-cloud-done:before {
  content: "\e675";
}
.icon-folder:before {
  content: "\e676";
}
.icon-folder-open:before {
  content: "\e677";
}
.icon-desktop-windows:before {
  content: "\e678";
}
.icon-dock:before {
  content: "\e679";
}
.icon-keyboard:before {
  content: "\e67a";
}
.icon-keyboard-hide:before {
  content: "\e67b";
}
.icon-laptop:before {
  content: "\e67c";
}
.icon-laptop-chromebook:before {
  content: "\e67d";
}
.icon-phone-iphone:before {
  content: "\e67e";
}
.icon-sim-card:before {
  content: "\e67f";
}
.icon-speaker:before {
  content: "\e6cb";
}
.icon-add-to-photos:before {
  content: "\e680";
}
.icon-brush:before {
  content: "\e681";
}
.icon-camera-alt:before {
  content: "\e682";
}
.icon-collections:before {
  content: "\e683";
}
.icon-color-lens:before {
  content: "\e684";
}
.icon-colorize:before {
  content: "\e685";
}
.icon-crop:before {
  content: "\e686";
}
.icon-crop-free:before {
  content: "\e687";
}
.icon-crop-original:before {
  content: "\e688";
}
.icon-dehaze:before {
  content: "\e689";
}
.icon-filter-hdr:before {
  content: "\e6cc";
}
.icon-image:before {
  content: "\e6cd";
}
.icon-landscape:before {
  content: "\e6ce";
}
.icon-lens:before {
  content: "\e68a";
}
.icon-looks:before {
  content: "\e68b";
}
.icon-movie-creation:before {
  content: "\e6cf";
}
.icon-navigate-before:before {
  content: "\e68c";
}
.icon-navigate-next:before {
  content: "\e68d";
}
.icon-palette:before {
  content: "\e68e";
}
.icon-panorama-fisheye:before {
  content: "\e68f";
}
.icon-photo:before {
  content: "\e6d0";
}
.icon-remove-red-eye:before {
  content: "\e690";
}
.icon-slideshow:before {
  content: "\e691";
}
.icon-straighten:before {
  content: "\e6d1";
}
.icon-style:before {
  content: "\e6d2";
}
.icon-texture:before {
  content: "\e692";
}
.icon-timelapse:before {
  content: "\e693";
}
.icon-tune:before {
  content: "\e694";
}
.icon-wb-cloudy:before {
  content: "\e695";
}
.icon-layers:before {
  content: "\e6d3";
}
.icon-local-airport:before {
  content: "\e696";
}
.icon-local-atm:before {
  content: "\e697";
}
.icon-local-see:before {
  content: "\e698";
}
.icon-navigation:before {
  content: "\e699";
}
.icon-place:before {
  content: "\e69a";
}
.icon-rate-review:before {
  content: "\e69b";
}
.icon-apps:before {
  content: "\e69c";
}
.icon-arrow-back:before {
  content: "\e69d";
}
.icon-arrow-drop-down:before {
  content: "\e69e";
}
.icon-arrow-drop-down-circle:before {
  content: "\e69f";
}
.icon-arrow-drop-up:before {
  content: "\e6a0";
}
.icon-arrow-forward:before {
  content: "\e6a1";
}
.icon-cancel:before {
  content: "\e6a2";
}
.icon-check:before {
  content: "\e6a3";
}
.icon-chevron-left:before {
  content: "\e6a4";
}
.icon-chevron-right:before {
  content: "\e6a5";
}
.icon-close:before {
  content: "\e6a6";
}
.icon-expand-less:before {
  content: "\e6a7";
}
.icon-expand-more:before {
  content: "\e6a8";
}
.icon-menu:before {
  content: "\e6a9";
}
.icon-more-horiz:before {
  content: "\e6aa";
}
.icon-more-vert:before {
  content: "\e6ab";
}
.icon-refresh:before {
  content: "\e6ac";
}
.icon-unfold-less:before {
  content: "\e6ad";
}
.icon-unfold-more:before {
  content: "\e6ae";
}
.icon-dnd-forwardslash:before {
  content: "\e6af";
}
.icon-do-not-disturb:before {
  content: "\e6b0";
}
.icon-event-available:before {
  content: "\e6b1";
}
.icon-event-busy:before {
  content: "\e6b2";
}
.icon-event-note:before {
  content: "\e6b3";
}
.icon-folder-special:before {
  content: "\e6b4";
}
.icon-sms:before {
  content: "\e6b5";
}
.icon-sms-failed:before {
  content: "\e6b6";
}
.icon-publ:before {
  content: "\e6b7";
}
.icon-school:before {
  content: "\e6b8";
}
.icon-share:before {
  content: "\e6b9";
}
.icon-whatshot:before {
  content: "\e6d4";
}
.icon-check-box:before {
  content: "\e6ba";
}
.icon-check-box-outline-blank:before {
  content: "\e6bb";
}
.icon-radio-button-off:before {
  content: "\e6bc";
}
.icon-radio-button-on:before {
  content: "\e6bd";
}
.icon-star:before {
  content: "\e6be";
}
.icon-star-outline:before {
  content: "\e6bf";
}
