@import "compass/reset";
@import "_fonts.scss";

body{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  font-family:"Helvetica" sans-serif;
  color:#fff;
}

/*
  TOP BLOCK
 */

 #mainNav{
  margin:0;
  padding:0;
  width:100%;
  float:left;
  height:50px;
  overflow:hidden;  
  background-color:#1E1E1E;
}

.button_separator{
  width: 2px;
  margin: 0 5px 0 10px;
  background-color: #303030;
  height: 50%;
  vertical-align: baseline;
  display: inline-block;
}

.primary_icon{
  font-size:2em;
  margin-right:-5px;
  cursor:pointer;
}

.primary_icon:hover{
  color:#CCC;
}

.secondary_icon{
  font-size: 1em;
  background-color: #2F2F2F;
  padding: 4px;
  margin-right: 0px;
  vertical-align: super;
}

.secondary_icon:hover{
  background-color:#222;
}

#navIcons{
  height:inherit;
  float:left; 
  margin-top:5px;
  i{
    cursor:pointer;
  }
}

.rightIcons{
  float:right;
  text-align:right;
  margin-top: 12px;
  margin-right: 5px;
  i{
    font-size:1.2em;
    color:#666;
    cursor:pointer;
  } 
  i:hover{
    color:#fff;
  }
}

#upnav{
  -webkit-app-region:drag;
  background-color: #383838;
  width:100%;
  height:20px;
  cursor:pointer;
}

.exit_button,.max_button,.min_button{
  cursor:pointer;
  width:10px;
  height:10px;
  float:left;
  margin:4px;
  border-radius:10px;
}


.exit_button{
  background-color: #F26184;
}

.max_button{
  background-color: #75ED64;
}

.min_button{
  background-color: #FFE422;
}


/*
  CENTER BLOCK
 */

 #centerBlock{
  width:100%;
  float:left;
  display: block;
  overflow:hidden;
  float: left;
  height: 70%;
}

#sidebar{
  float:left;
  width:25%;
  height:100%;
  background-color:#222;
  padding-top:10px;
  ul{
    cursor:default;

    li{
      margin: -1px 5px;
      padding: 6px;
      font-weight: 100;
    }

    li:hover{
      background-color:#000;
    }

    .mainFile{
      font-size: 0.8em;
      font-weight: 500;

      margin-bottom:5px;
    }

    .mainFile:before {
      content: "• ";
      color: #FF960A;
      font-size: 1.3em;
      vertical-align: middle;
    }

    .secondaryFile{
      //font-weight:100;
      font-size: 0.7em;
    }

    .secondaryFile:before {
      content: "•  ";
      color: #0ff;
      font-size:1em;
    }    

    .active{
      border: 1px solid #111;
      border-radius:4px;
      color:#ccc;
    }
  }


  .button_add_file{
    background-color: rgba(0,0,0,0);
    border: 1px solid #333;
    color: #fff;
    padding: 7px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 100;
    outline: none;
    font-size:0.7em;
    transition: background-color 0.1s ease;
  }
  
  .button_add_file:hover{
    background-color: rgba(0,0,0,1);
  }


}

#mainEditor{
  float:left;
  width:75%;
}


// Esto debería setearse dinámicamente en base al tamaño de los componentes.
.CodeMirror{
  height:490px;
}

/*
  BOTTOM BLOCK
 */


 #consoleWrap{
  height: 140px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#console{
  float: left;
  width: 100%;
  background-color: #1D1D1D;
  overflow-y: auto;
  border-top: 2px solid #111;
  height: 140px;
  color: #666;
  font-size: 0.7em;
  p{
    margin-left:10px;
  }
  .consoleError{
    color:#F26184;
    font-weight: 900;
  }
}



/*
  SCROLLBARS
 */

 ::-webkit-scrollbar-track
 {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #333333;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #333333;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
}