/*
  codepoems-dark.css

  Creado con la ayuda de:
  https://tmtheme-editor.herokuapp.com

 */

/*

  Variables

 */

$bg_color: #222;
$error_bg: rgba(152, 0, 0, 0.1);

// Base colors
$color01: #F0C674;
$color02: #81A2BE;
$color03: #CC6666;
$color04: #3e999f;
$color05: #c7d352;
$color06: #DE935F;
$color07: #B294BB;
$color08: #8ABEB7;
$color09: #E24E80;

/*

  Structure

 */

/* Estructura básica del CodeMirror */
.cm-s-codepoems-dark.CodeMirror {
    background: $bg_color;
    font-family: 'Inconsolata';
    font-size: 1em;
}

/* Este es el color de la selección*/
.cm-s-codepoems-dark div.CodeMirror-selected {
    background: scale-lightness($bg_color, 10)!important;
}

/* El color de fondo de la barra a la izquierda que tiene los numeros */
.cm-s-codepoems-dark .CodeMirror-gutters {
    background: shade($bg_color, 20);
    border-right: 1px solid shade($bg_color, 30);
}

/* Este es el color de la flecha de la barra a la izquierda*/
.cm-s-codepoems-dark .CodeMirror-guttermarker-subtle {
    color: scale-lightness($bg_color, 10)!important;
}

/* Este es el color del texto que indica la altura */
.cm-s-codepoems-dark .CodeMirror-linenumber {
    color: #454545;
    font-size: 0.7em;
    padding-top: 3px;
}

/* Color del cursor */
.cm-s-codepoems-dark .CodeMirror-cursor {
    border-left: 2px solid #fff !important;
}

/* Este es le color de la linea activa */
.cm-s-codepoems-dark .CodeMirror-activeline-background {
    background: #272727 !important;
}

/* Este es el color de los brackets que matchean */
.cm-s-codepoems-dark .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

/* El color de las llaves */
.cm-s-codepoems-dark span.cm-bracket {
    color: #ccc;
}

/*

  Tokens

 */

/* Foreground */
.cm-s-codepoems-dark.CodeMirror {
    color: #C5C8C6;
}

/* Color de los strings */
.cm-s-codepoems-dark span.cm-string {
    color: $color01;
}

/* Comentarios */
.cm-s-codepoems-dark span.cm-comment {
    color: scale-lightness($bg_color, 20);
}

/* Builtin */
.cm-s-codepoems-dark span.cm-builtin {
    color: $color02;
    font-weight: bold;
}

/* Keyword */
.cm-s-codepoems-dark span.cm-keyword {
    color: $color03;
}

/* Keyword */
.cm-s-codepoems-dark span.cm-variable {
    color: #ccc;
}

/* Keyword */
.cm-s-codepoems-dark span.cm-variable-2 {
    color: $color04;
}

/* Este es el color de los atoms, el true y el false*/
.cm-s-codepoems-dark span.cm-atom {
    color: $color05;
}

/* El color de los numeros */
.cm-s-codepoems-dark span.cm-number {
    color: $color06
}

/* El color de los operadores */
.cm-s-codepoems-dark span.cm-operator {
    color: $color05;
}

/* Este es el color de los blockKeyword*/
.cm-s-codepoems-dark span.cm-blockKeyword {
    color: $color07;
}

/* Este es el color de los outerBlockKeyword*/
.cm-s-codepoems-dark span.cm-outerBlockKeyword {
    color: $color08;
}

/* Contant keywords */
.cm-s-codepoems-dark span.cm-constantKeyword {
    color: $color09;
    font-weight: bold;
}

/*
  PARA LOS XML Y JSON 
 */

.cm-s-codepoems-dark span.cm-tag {
    color: $color06
}

.cm-s-codepoems-dark span.cm-link {
    color: $color07;
}

.cm-s-codepoems-dark span.cm-property, .cm-s-codepoems-dark span.cm-attribute {
    color: $color04;
}

/*
  ERROR
 */

.error,.CodeMirror-gutter-background {
    //border: 1px solid rgba(255, 0, 0, 0.1) !important;
    width:100% !important;
    left:0 !important;
    background-color: $error_bg !important;
}


/*
  ADDON STYLES
 */

.CodeMirror-foldmarker{
  color:scale-lightness($bg_color, 30)!important;
  text-shadow:none;
}