/*
  monokai.css

  Creado con la ayuda de:
  https://tmtheme-editor.herokuapp.com

 */


/*

  Variables

 */

$bg_color :#272822;


$color01: #FD971F;
$color02: #F92672;
$color03: #66D9EF;
$color04: #3e999f;
$color05: #c7d352;
$color06: #A6E22E;
$color07: #AE81FF;
$color08: #ffffff;

/* 

  UI

*/
#sidebar{
    background-color: shade($bg_color, 20) !important;
}

#consoleWrap{
    background-color: shade($bg_color, 10) !important;
}

#mainNav{
  background-color: shade($bg_color, 20) !important;
}

#upnav{
  
  background-color: scale-lightness($bg_color, 1)!important;
}

.sidebar_resize_control {
    background-color: shade($bg_color, 10) !important;
}


/*

  Estructura

 */

/* Estructura básica del CodeMirror */
.cm-s-monokai.CodeMirror {
    background: $bg_color;
    font-family: 'Inconsolata';
    font-size: 1em;
}

/* Este es el color de la selección*/
.cm-s-monokai div.CodeMirror-selected {
    background: shade($bg_color, 20)!important;
}

/* El color de fondo de la barra a la izquierda que tiene los numeros */
.cm-s-monokai .CodeMirror-gutters {
    background: shade($bg_color, 20);
    border-right: 1px solid shade($bg_color, 50);
}

/* Este es el color de la flecha de la barra a la izquierda*/
.cm-s-monokai .CodeMirror-guttermarker-subtle {
    color: #999;
}

/* Este es el color del texto que indica la altura */
.cm-s-monokai .CodeMirror-linenumber {
    color: #454545;
    font-family: Helvetica;
    font-size: 0.6em;
    padding-top:3px;
}

/* Color del cursor */
.cm-s-monokai .CodeMirror-cursor {
    border-left: 2px solid #fff !important;
}

/* Este es le color de la linea activa */
.cm-s-monokai .CodeMirror-activeline-background {
    background: #272727 !important;
}

/* Este es el color de los brackets que matchean */
.cm-s-monokai .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

/* El color de las llaves */
.cm-s-monokai span.cm-bracket {
    color: #ccc;
}


/*

  Tokens

 */

/* Foreground */
.cm-s-monokai.CodeMirror {
  color: #F8F8F2;
}

/* Color de los strings */
.cm-s-monokai span.cm-string {
    color: $color01;
}

/* Comentarios */
.cm-s-monokai span.cm-comment {
    color: scale-lightness($bg_color, 20);
}

/* Builtin */
.cm-s-monokai span.cm-builtin {
    color: $color02;
    font-weight: bold;
}

/* Keyword */ 
.cm-s-monokai span.cm-keyword {
    color: $color03;
}

/* Keyword */
.cm-s-monokai span.cm-variable {
    color: #ccc;
}

/* Keyword */
.cm-s-monokai span.cm-variable-2 {
    color: $color04;
}

/* Este es el color de los atoms, el true y el false*/
.cm-s-monokai span.cm-atom {
    color: $color05;
}

/* El color de los numeros */
.cm-s-monokai span.cm-number {
    color: $color06;
}

/* El color de los operadores */
.cm-s-monokai span.cm-operator {
    color: $color03;
}

/* Este es el color de los blockKeyword*/
.cm-s-monokai span.cm-blockKeyword {
    color: $color07;
}

/* Este es el color de los outerBlockKeyword*/
.cm-s-monokai span.cm-outerBlockKeyword {
    color: $color03;
}

/* Contant keywords */
.cm-s-monokai span.cm-constantKeyword{
  color: $color07;
  font-weight: bold;
}


/*
  PARA LOS XML Y JSON 
 */

.cm-s-monokai span.cm-tag {color: $color02;}
.cm-s-monokai span.cm-link {color: $color03;}
.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: $color06;}


/*
  ERROR
 */

.error,.CodeMirror-gutter-background {
    //border: 1px solid rgba(255, 0, 0, 0.1) !important;
    width:100% !important;
    left:0 !important;
    background-color: $error_bg !important;
}
