/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Helvetica" sans-serif;
  color: #fff;
}

/* line 15, ../sass/screen.scss */
#mainNav {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  height: 50px;
  overflow: hidden;
  background-color: #1E1E1E;
}

/* line 25, ../sass/screen.scss */
#navTextButtons {
  height: inherit;
  float: left;
}

/* line 30, ../sass/screen.scss */
#navIcons {
  height: inherit;
  float: left;
}

/* line 36, ../sass/screen.scss */
#mainEditor {
  float: left;
  width: 100%;
}

/* line 41, ../sass/screen.scss */
.CodeMirror {
  height: 400px;
}

/* line 45, ../sass/screen.scss */
#upnav {
  -webkit-app-region: drag;
  background-color: #383838;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

/* line 53, ../sass/screen.scss */
#console {
  float: left;
  width: 100%;
  height: 225px;
  background-color: #1D1D1D;
  overflow-y: scroll;
  border-top: 5px solid #333;
  padding-bottom: 350px;
  color: #666;
  font-size: 0.7em;
}
/* line 63, ../sass/screen.scss */
#console p {
  margin-left: 10px;
}
/* line 66, ../sass/screen.scss */
#console .consoleError {
  color: #F26184;
  font-weight: 900;
}

/* line 72, ../sass/screen.scss */
.exit_button, .max_button, .min_button {
  cursor: pointer;
  width: 10px;
  height: 10px;
  float: left;
  margin: 4px;
  border-radius: 10px;
}

/* line 82, ../sass/screen.scss */
.exit_button {
  background-color: #F26184;
}

/* line 86, ../sass/screen.scss */
.max_button {
  background-color: #75ED64;
}

/* line 90, ../sass/screen.scss */
.min_button {
  background-color: #FFE422;
}
