html{
	height 100%;
}

body{
	margin:0;
  	overflow:hidden;
  	padding:0;
}

//Esto esta por ahora sobreescribiendo el estilo de Codemirror
.CodeMirror{
  	height:75%;
  	position:absolute;
  	width:100%;
  	background-color blue
}

#console{
 	background-color:#191919;
  	display: block;
  	float: left;
  	height: 25%;
  	margin: 0;
  	overflow:scroll;
  	position: absolute;
  	top: 75%;
  	z-index 3;

  	p{
		color: #7f7e7e;
		padding: 5px;
		margin: 0;

		&:nth-child(even){
			background-color:#1e1e1e;
		}

		&:nth-child(odd){
			background-color:#262626;
		}
  	}
}

a{
  color:#fff;
}


header{
 	background-color:#013642;
 	height 55px
 	margin:0;
  	padding:0;
  	overflow:hidden;
}

#mainNav{
	display: inline-block;
}


.cm-s-paraiso-dark.CodeMirror,
.cm-s-paraiso-dark .CodeMirror-gutters
	background: #353535

.run
	float right

	figure
		background-color #006475
		border-radius 50px
		padding 8px 12px
		margin 8px

	ul
		margin 0
		padding 0 

	li
		list-style none
		float left;