@charset "UTF-8";
/*
  monokai.css

  Creado con la ayuda de:
  https://tmtheme-editor.herokuapp.com

 */
/*

  Variables

 */
/* 

  UI

*/
/* line 33, ../sass/theme_monokai.scss */
#sidebar {
  background-color: #1f201b !important;
}

/* line 37, ../sass/theme_monokai.scss */
#consoleWrap {
  background-color: #23241e !important;
}

/* line 41, ../sass/theme_monokai.scss */
#mainNav {
  background-color: #1f201b !important;
}

/* line 45, ../sass/theme_monokai.scss */
#upnav {
  background-color: #292a24 !important;
}

/* line 50, ../sass/theme_monokai.scss */
.sidebar_resize_control {
  background-color: #23241e !important;
}

/*

  Estructura

 */
/* Estructura básica del CodeMirror */
/* line 62, ../sass/theme_monokai.scss */
.cm-s-monokai.CodeMirror {
  background: #272822;
  font-family: 'Inconsolata';
  font-size: 1em;
}

/* Este es el color de la selección*/
/* line 69, ../sass/theme_monokai.scss */
.cm-s-monokai div.CodeMirror-selected {
  background: #1f201b !important;
}

/* El color de fondo de la barra a la izquierda que tiene los numeros */
/* line 74, ../sass/theme_monokai.scss */
.cm-s-monokai .CodeMirror-gutters {
  background: #1f201b;
  border-right: 1px solid #131411;
}

/* Este es el color de la flecha de la barra a la izquierda*/
/* line 80, ../sass/theme_monokai.scss */
.cm-s-monokai .CodeMirror-guttermarker-subtle {
  color: #999;
}

/* Este es el color del texto que indica la altura */
/* line 85, ../sass/theme_monokai.scss */
.cm-s-monokai .CodeMirror-linenumber {
  color: #454545;
  font-family: Helvetica;
  font-size: 0.6em;
  padding-top: 3px;
}

/* Color del cursor */
/* line 93, ../sass/theme_monokai.scss */
.cm-s-monokai .CodeMirror-cursor {
  border-left: 2px solid #fff !important;
}

/* Este es le color de la linea activa */
/* line 98, ../sass/theme_monokai.scss */
.cm-s-monokai .CodeMirror-activeline-background {
  background: #272727 !important;
}

/* Este es el color de los brackets que matchean */
/* line 103, ../sass/theme_monokai.scss */
.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

/* El color de las llaves */
/* line 109, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-bracket {
  color: #ccc;
}

/*

  Tokens

 */
/* Foreground */
/* line 121, ../sass/theme_monokai.scss */
.cm-s-monokai.CodeMirror {
  color: #F8F8F2;
}

/* Color de los strings */
/* line 126, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-string {
  color: #FD971F;
}

/* Comentarios */
/* line 131, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-comment {
  color: #55574a;
}

/* Builtin */
/* line 136, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-builtin {
  color: #F92672;
  font-weight: bold;
}

/* Keyword */
/* line 142, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-keyword {
  color: #66D9EF;
}

/* Keyword */
/* line 147, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-variable {
  color: #ccc;
}

/* Keyword */
/* line 152, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-variable-2 {
  color: #3e999f;
}

/* Este es el color de los atoms, el true y el false*/
/* line 157, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-atom {
  color: #c7d352;
}

/* El color de los numeros */
/* line 162, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-number {
  color: #A6E22E;
}

/* El color de los operadores */
/* line 167, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-operator {
  color: #66D9EF;
}

/* Este es el color de los blockKeyword*/
/* line 172, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-blockKeyword {
  color: #AE81FF;
}

/* Este es el color de los outerBlockKeyword*/
/* line 177, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-outerBlockKeyword {
  color: #66D9EF;
}

/* Contant keywords */
/* line 182, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-constantKeyword {
  color: #AE81FF;
  font-weight: bold;
}

/*
  PARA LOS XML Y JSON 
 */
/* line 192, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-tag {
  color: #F92672;
}

/* line 193, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-link {
  color: #66D9EF;
}

/* line 194, ../sass/theme_monokai.scss */
.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {
  color: #A6E22E;
}

/*
  ERROR
 */
/* line 201, ../sass/theme_monokai.scss */
.error, .CodeMirror-gutter-background {
  width: 100% !important;
  left: 0 !important;
  background-color: rgba(152, 0, 0, 0.1) !important;
}
