@charset "UTF-8";
/*
  codepoems-dark.css

  Creado con la ayuda de:
  https://tmtheme-editor.herokuapp.com

 */
/*

  Estructura

 */
/* Estructura básica del CodeMirror */
/* line 17, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark.CodeMirror {
  background: #222;
  font-family: 'Inconsolata';
  font-size: 1em;
}

/* Este es el color de la selección*/
/* line 24, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark div.CodeMirror-selected {
  background: #373b41 !important;
}

/* El color de fondo de la barra a la izquierda que tiene los numeros */
/* line 29, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark .CodeMirror-gutters {
  background: #111;
  border-right: 1px solid #222;
}

/* Este es el color de la flecha de la barra a la izquierda*/
/* line 35, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark .CodeMirror-guttermarker-subtle {
  color: #999;
}

/* Este es el color del texto que indica la altura */
/* line 40, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark .CodeMirror-linenumber {
  color: #454545;
  font-size: 0.7em;
  padding-top: 3px;
}

/* Color del cursor */
/* line 47, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark .CodeMirror-cursor {
  border-left: 2px solid #fff !important;
}

/* Este es le color de la linea activa */
/* line 52, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark .CodeMirror-activeline-background {
  background: #272727 !important;
}

/* Este es el color de los brackets que matchean */
/* line 57, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

/* El color de las llaves */
/* line 63, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-bracket {
  color: #ccc;
}

/*

  Tokens

 */
/* Foreground */
/* line 75, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark.CodeMirror {
  color: #C5C8C6;
}

/* Color de los strings */
/* line 80, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-string {
  color: #F0C674;
}

/* Comentarios */
/* line 85, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-comment {
  color: #666;
}

/* Builtin */
/* line 90, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-builtin {
  color: #81A2BE;
  font-weight: bold;
}

/* Keyword */
/* line 96, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-keyword {
  color: #CC6666;
}

/* Keyword */
/* line 101, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-variable {
  color: #ccc;
}

/* Keyword */
/* line 106, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-variable-2 {
  color: #3e999f;
}

/* Este es el color de los atoms, el true y el false*/
/* line 111, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-atom {
  color: #c7d352;
}

/* El color de los numeros */
/* line 116, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-number {
  color: #DE935F;
}

/* El color de los operadores */
/* line 121, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-operator {
  color: #c7d352;
}

/* Este es el color de los blockKeyword*/
/* line 126, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-blockKeyword {
  color: #B294BB;
}

/* Este es el color de los outerBlockKeyword*/
/* line 131, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-outerBlockKeyword {
  color: #8ABEB7;
}

/* Contant keywords */
/* line 136, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-constantKeyword {
  color: #E24E80;
  font-weight: bold;
}

/*
  PARA LOS XML Y JSON 
 */
/* line 146, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-tag {
  color: #DE935F;
}

/* line 147, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-link {
  color: #B294BB;
}

/* line 148, ../sass/theme_codepoems_dark.scss */
.cm-s-codepoems-dark span.cm-property, .cm-s-codepoems-dark span.cm-attribute {
  color: #3e999f;
}

/*
  ERROR
 */
/* line 156, ../sass/theme_codepoems_dark.scss */
.error {
  border: 2px solid rgba(255, 0, 0, 0.4);
}
