/* line 1, ../sass/win.scss */
body {
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: #ccc;
}

/* line 9, ../sass/win.scss */
.container {
  margin: 0 auto;
  width: 90%;
}

/* line 14, ../sass/win.scss */
p {
  font-size: 0.7em;
}

/*
  
  Common style

 */
/* line 24, ../sass/win.scss */
input[type=text] {
  height: 20px;
  outline: none;
  background-color: #000;
  border: 1px solid #333;
  color: #eee;
}

/*
  
  Settings window

 */
/* line 38, ../sass/win.scss */
.font_size_input {
  width: 10%;
}

/* line 42, ../sass/win.scss */
.plus_button, .minus_button {
  background-color: #222;
  border: 1px solid #444;
  color: #fff;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}

/* line 51, ../sass/win.scss */
.plus_button:hover, .minus_button:hover {
  background-color: #333;
}

/* line 55, ../sass/win.scss */
.font_size_input, .plus_button, .minus_button {
  line-height: 1em;
}

/* line 59, ../sass/win.scss */
.default_template_textarea {
  width: 100%;
  height: 200px;
  background-color: #222;
  border: 1px solid #444;
  resize: none;
  color: #eee;
  outline: none;
}

/* line 69, ../sass/win.scss */
.save_default_template {
  background-color: #333;
  border: 1px solid #444;
  color: #EEE;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 10px 5px;
  cursor: pointer;
  outline: none;
}

/* line 80, ../sass/win.scss */
.save_default_template:hover {
  background-color: #222;
}

/* line 84, ../sass/win.scss */
select {
  background-color: #333;
  width: 300px;
  color: #EEE;
  border: 1px solid #333;
  outline: none;
  text-transform: uppercase;
  height: 20px;
}

/*
  
  Examples window

 */
/* line 100, ../sass/win.scss */
.example_button {
  background-color: #282828;
  margin: 4px 10px;
  padding: 5px;
  font-size: 0.7em;
  cursor: pointer;
}

/* line 108, ../sass/win.scss */
.example_button:hover {
  background-color: #333;
}

/*
 
  Live Documentation window
 
 */
/*
  
  Scrollbars

 */
/* line 126, ../sass/win.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #333;
}

/* line 131, ../sass/win.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #333333;
}

/* line 137, ../sass/win.scss */
::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* line 141, ../sass/win.scss */
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 145, ../sass/win.scss */
::-webkit-scrollbar {
  background-color: #f0f;
}
