/* line 1, ../sass/win_install_processing_java.scss */
.alertHeading {
  text-align: center;
  font-size: 1em;
  margin: 50px;
}

/* line 7, ../sass/win_install_processing_java.scss */
.exampleGif {
  margin: 30px auto;
  display: block;
  text-align: center;
}

/* line 13, ../sass/win_install_processing_java.scss */
#open_anyways {
  text-align: center;
  text-transform: uppercase;
  color: #999;
  cursor: pointer;
}

/* line 20, ../sass/win_install_processing_java.scss */
#open_anyways:hover {
  color: #fff;
}
